body {
	font-family: 'Lato', sans-serif; 
}


h1 {
	text-transform: uppercase;
	color: #333;
	text-align: center;
	font-weight: 700;
}

h2 {
	text-transform: uppercase;
	color: #555;
	text-align: center;
	font-weight: 700;
}

p {
	font-weight: 500;
	color: #555;
	font-weight: 500;
	text-align: center;
	width: 85%;
	margin: 0 auto 15px;
}
@media screen and (min-width: 768px) {
	p {
		font-size: 1.8em;
	}
	h2 {
		font-size: 3em;
    	margin-bottom: 24px;
	}
}

hr {
	width: 20px;
	height: 3px;
	background-color: #32ffe0;
}
section {
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-brand img {
	width: 145px;
    margin-top: -17px;
}	

.content-img {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: block;
}
@media screen and (min-width: 768px) {
	.content-img {
		width: 60%;
	}
}
.section-ppt  {
	height: 200px;
	background: #32ffe0; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #32ffe0 0%, #106fbe 45%, #21394a 87%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #32ffe0 0%,#106fbe 45%,#21394a 87%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #32ffe0 0%,#106fbe 45%,#21394a 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32ffe0', endColorstr='#21394a',GradientType=1 );
}

.section-ppt span {
	position: absolute;
	color: white;
	opacity: .2;    
	font-size: 18em;
    right: -8%;
    margin-top: -79px;
}
.section-ppt img {
	position: absolute;
    width: 60%;
    left: 5%;
    margin-top: 17px;
}

@media screen and (min-width: 768px) {
	.section-ppt {
		height: 450px;
	}

	.section-ppt span {
	    font-size: 38em;
		right: -8%;
		margin-top: -170px;
	}
}

@media screen and (min-width: 1024px) {
	.section-ppt {
		height: 460px;
	}

	.section-ppt span {
	    font-size: 40em;
		right: 3%;
		margin-top: -170px;
	}

	.section-ppt img {
		width: 34%;
	}
}

.part-2 .section-ppt img{
	left: 0;
}

.video-explain {
	width: 100%;
	height: auto;
}

.item {
	background: #eee;
	height: auto;
	-webkit-transition: 3.6s ease-in-out left;
    -moz-transition: 3.6s ease-in-out left;
    -o-transition: 3.6s ease-in-out left;
    transition: 3.6s ease-in-out left;
}

.image-slides {
	padding: 32px 0;
	background: #333;
}

.item h3 {
	text-align: center;
	padding-top: 8px;
}

.item img {
	margin: 0 auto;
	display: block;
	width: 70%;
	box-shadow: 0px 0px 5px #333;
}

@media screen and (min-width: 768px) {
	.image-slides {
		width: 55%;
		float: left;
	}
	.content-slides {
		width: 42%;
		float: right;
	}
	.item h3 {
		text-align: left;
		font-size: 2.8em;
		width: 85%;
		margin: 0 auto 15px;
	}
	.item p {
		text-align: left;
		font-size: 2.2em;
	}
}

@media screen and (min-width: 1024px) {
	.image-slides {
		width: 30%;
	}
	.content-slides {
		width: 70%;
		float: right;
	}
}

.carousel-control {
	bottom: 0;
}
.carousel-control.right {
	background: none;
}
.carousel-control.left {
	background: none;
}

.carousel-indicators {
	bottom: 0;
}

@media screen and (min-width: 768px) {
	.carousel {
		width: 70%;
		margin: 0 auto;
	}
}

.know-more {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 15px;
	background: #eee;
}
.know-more h2 {
	font-weight:900;
	font-size: 1.5em;
}

.know-more ul {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
}
.know-more li {
	padding: 0 10px;
}

.know-more nav li {
	list-style-type: none;
	display: inline-block;
	
}
.know-more img {
	width: 50px;
	border-radius: 50%;
}

@media screen and (min-width: 768px) {
	.know-more h2 {
		font-size: 3em;
	}

	.know-more img {
		width: 70px;
	}

	.more-spaceapps img {
		width: 100px;
	}

	.know-more li {
		padding: 0 15px;
	}

}
.reports {
	padding-top: 0;
	margin-top: -20px;
}
.reports li {
	width: 80%;
	margin-left: 30px;
	border-bottom: solid 1px #888;
}
.reports li:last-child {
	border-bottom: none;
}

.graph-tittle h4 {
	text-align: center;
} 

.motivation-content h2 {
	text-align: left;
	width: 85%;
	margin: 0 auto;
}

.motivation-content ul {
	text-align: left;
	width: 85%;
	margin: 0 auto;
}
.motivation-content mark {
	text-align: left;
	width: 95%;
	margin: 0 auto;
	display: block;
}
.motivation-content h5 {
	text-align: left;
	width: 85%;
	margin: 0 auto;
}
.motivation-content h3 {
	text-align: left;
	width: 85%;
	margin: 0 auto;
}
.motivation-content p {
	text-align: left;
	margin-top: 5px;
}
.motivation-content a {
	width: 85%;
	font-size: 1em;
}


@media screen and (min-width: 768px) {
	.motivation-content p {
		font-size: 1.2em;
	}
}
.motivation-content ul {
	background: #eee;
	padding-right: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}
